.main_slide .bx-next {
	position:absolute;
	z-index: 90;
	left: 195px;
	top: 150px;
  width: 51px;
	height: 61px;
	background: url(../images/slider_arrow_right.png) 0 0 no-repeat;
  text-indent: -999999px;
}
.main_slide .bx-prev {
	position:absolute;
	z-index: 90;
	left: -7px;
	top: 150px;
  width: 51px;
	height: 61px;
	background: url(../images/slider_arrow_left.png) 0 0 no-repeat;
  text-indent: -999999px;
}
.main_slide .bx-next:hover,
.main_slide .bx-prev:hover {
	background-position: 0 0;
}
.main_slide .bx-auto {
	position: absolute;
  z-index: 999;
  bottom: 19px;
  left: 0px;
}